<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/_head.ejs') %>
</head>
<body>
    <%- include('./partials/_header.ejs') %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <div class="card-body">
                    <form action="/Actores/update/<%= data.id_actor %>" method="post" enctype="multipart/form-data">
                        <div class="form-group mt-2">
                            <input type="text" readonly name="id_actor" value="<%= data.id_actor %>" class="form-control">
                        </div>
                        <div class="form-group mt-2">
                            <input type="text" name="nombre" value="<%= data.nombre %>" class="form-control">
                        </div>
                        <div class="form-group mt-2">
                            <input type="date" name="fecha_nacimiento" value="<%= data.fecha_nacimiento %>" class="form-control">
                        </div>
                        <div class="form-group mt-2">
                            <input type="text" name="descripcion" value="<%= data.descripcion %>" class="form-control">
                        </div>
                        <div class="form-group mt-2">
                            <input type="file" name="foto" class="form-control">
                        </div>
                        <div class="form-group mt-2">
                            <input type="text" name="estado" value="T" class="form-control">
                        </div>
                        <input type="submit" value="Update actor" class="btn btn-outline-primary mt-3">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/_footer.ejs') %>
</body>
</html>