<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/_head.ejs') %>
</head>
<body>
    <%- include('./partials/_header.ejs') %>

    <div class="container">
        <div class="row mt-5" style="display: flex; flex-wrap:wrap; flex-direction:column;">
            <div class="col-md-5">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <form action="/Actores/add" method="post" enctype="multipart/form-data">

                            <div class="form-group mt-2">
                                <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                            </div>
                            <div class="form-group mt-2">
                                <input type="date" name="fechanacimiento" placeholder="Nacimiento" class="form-control">
                            </div>
                            <div class="form-group mt-2">
                                <input type="text" name="descripcion" placeholder="Descripcion" class="form-control">
                            </div>
                            <div class="form-group mt-2">
                                <input type="file" name="foto" class="form-control">
                            </div>
                            <input type="hidden" name="estado" value="T">
                            <input type="submit" value="Add actor" class="btn btn-outline-primary mt-3">
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">*</th>
                            <th scope="col">Id Actor</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Nacimiento</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for(let i = 0; i < data.length; i++){ %>
                                <tr class="table-light">
                                    <td><%= i+1 %></td>
                                    <td><%= data[i].idactor %></td>
                                    <td><%= data[i].nombre %></td>
                                    <td><%= data[i].nacimiento %></td>
                                    <td><%= data[i].descripcion %></td>
                                    <td><img src="<%= data[i].foto %>"></td>
                                    <td scope="row"><%= data[i].estado %></td>
                                    <td>
                                        <a href="/Peliculas/delete/<%= data[i].idactor%>" class="btn btn-outline-danger">Delete</a>
                                    </td>
                                    <td>
                                        <a href="/Peliculas/update/<%= data[i].idactor%>" class="btn btn-outline-primary">Update</a>
                                    </td>
                                </tr>
                            <% } %>
                        <% } else { %>
                            <tr>
                                <td>No existen datos</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include('./partials/_footer.ejs') %>
</body>
</html>