<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/_head.ejs') %>
</head>
<body>
    <%- include('./partials/_header.ejs') %>

    <div class="container">
        <div class="row mt-5" style="display: flex; flex-wrap:wrap; flex-direction:column;">
            <div class="col-md-5">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <form action="/Estadisticas/add" method="post">
                            <div class="form-group mt-2">
                                <input type="number" name="cantvistas" placeholder="Cant. vistas" class="form-control">
                            </div>
                            <div class="form-group mt-2">
                                <input type="number" name="cantlikes" placeholder="Cant. likes" class="form-control">
                            </div>
                            <div class="form-group mt-2">
                                <input type="number" name="cantcomentarios" placeholder="Cant. comentarios" class="form-control">
                            </div>
                            <input type="hidden" name="estado" value="T">
                            <input type="submit" value="Add gender" class="btn btn-outline-primary mt-3">
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">*</th>
                            <th scope="col">Cant. vistas</th>
                            <th scope="col">Cant. likes</th>
                            <th scope="col">Cant. comentarios</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for(let i = 0; i < data.length; i++){ %>
                                <tr class="table-light">
                                    <td><%= i+1 %></td>
                                    <td><%= data[i].idestadisticas %></td>
                                    <td><%= data[i].cantvistas %></td>
                                    <td><%= data[i].cantlikes %></td>
                                    <td><%= data[i].cantcomentarios %></td>
                                    <td scope="row"><%= data[i].estado %></td>
                                    <td>
                                        <a href="/Estadisticas/delete/<%= data[i].idestadisticas%>" class="btn btn-outline-danger">Delete</a>
                                    </td>
                                    <td>
                                        <a href="/Estadisticas/update/<%= data[i].idestadisticas%>" class="btn btn-outline-primary">Update</a>
                                    </td>
                                </tr>
                            <% } %>
                        <% } else { %>
                            <tr>
                                <td>No existen datos</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include('./partials/_footer.ejs') %>
</body>
</html>