<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/_head.ejs') %>
</head>
<body>
    <%- include('./partials/_header.ejs') %>

    <div class="container">
        <div class="row mt-5" style="display: flex; flex-wrap:wrap; flex-direction:column;">
            <div class="col-md-5">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <form action="/Peliculas/add" method="post" enctype="multipart/form-data">

                            <div class="form-group mt-2">
                                <input type="text" name="titulooriginal" placeholder="Titulo original" class="form-control">
                            </div>
                            <div class="form-group mt-2">
                                <input type="text" name="titulolatino" placeholder="Titulo latino" class="form-control">
                            </div>
                            <div class="form-group mt-2">
                                <input type="file" name="foto" placeholder="Foto" class="form-control">
                            </div>
                            <div class="form-group mt-2">
                                <input type="number" name="idtipo" placeholder="Id tipo" class="form-control">
                            </div>
                            <div class="form-group mt-2">
                                <input type="number" name="idpais" placeholder="Id pais" class="form-control">
                            </div>
                            <div class="form-group mt-2">
                                <input type="number" name="lanzamiento" placeholder="Lanzamiento" class="form-control">
                            </div>
                            <div class="form-group mt-2">
                                <input type="number" name="duracion" placeholder="Duracion" class="form-control">
                            </div>
                            <div class="form-group mt-2">
                                <input type="text" name="resena" placeholder="Resena" class="form-control">
                            </div>
                            <input type="hidden" name="estado" value="T">
                            <input type="submit" value="Add movie" class="btn btn-outline-primary mt-3">
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">*</th>
                            <th scope="col">Idpelicula</th>
                            <th scope="col">Titulo original</th>
                            <th scope="col">Titulo latino</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Id tipo</th>
                            <th scope="col">Id pais</th>
                            <th scope="col">Lanzamiento</th>
                            <th scope="col">Duracion</th>
                            <th scope="col">Reseña</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for(let i = 0; i < data.length; i++){ %>
                                <tr class="table-light">
                                    <td><%= i+1 %></td>
                                    <td><%= data[i].titulooriginal %></td>
                                    <td><%= data[i].titulolatino %></td>
                                    <td><img src="<%= data[i].foto %>"></td>
                                    <td><%= data[i].idtipo %></td>
                                    <td><%= data[i].idpais %></td>
                                    <td><%= data[i].lanzamiento %></td>
                                    <td><%= data[i].duracion %></td>
                                    <td><%= data[i].resena %></td>
                                    <td scope="row"><%= data[i].estado %></td>
                                    <td>
                                        <a href="/Peliculas/delete/<%= data[i].idpelicula%>" class="btn btn-outline-danger">Delete</a>
                                    </td>
                                    <td>
                                        <a href="/Peliculas/update/<%= data[i].idpelicula%>" class="btn btn-outline-primary">Update</a>
                                    </td>
                                </tr>
                            <% } %>
                        <% } else { %>
                            <tr>
                                <td>No existen datos</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include('./partials/_footer.ejs') %>
</body>
</html>