<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/_head.ejs') %>
</head>
<body>
    <%- include('./partials/_header.ejs') %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <div class="card-body">
                    <form action="/Usuarios/update/<%= data.usuario %>" method="post">
                        <div class="form-group mt-2">
                            <input type="text"  readonly name="usuario" value="<%= data.usuario %>" class="form-control">
                        </div>
                        <div class="form-group mt-2">
                            <input type="password" name="contrasena" value="<%= data.contrasena %>"  class="form-control">
                        </div>
                        <div class="form-group mt-2">
                            <input type="text" name="estado" value="T" class="form-control">
                        </div>
                        <input type="submit" value="Update user" class="btn btn-outline-primary mt-3">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/_footer.ejs') %>
</body>
</html>